@media (min-width:576px){
    .faq .awards-list ,.exhibitions-list ,.tenderworks-list{
        padding: 0 50px;
    }
}
@media (min-width:768px){
    .faq .awards-list ,.exhibitions-list ,.tenderworks-list{
        padding: 0 50px;
    }
}
@media (min-width:992px){
    .faq .awards-list ,.exhibitions-list ,.tenderworks-list{
        padding: 0 100px;
    }
}
@media (min-width:1200px){
    .faq .awards-list ,.exhibitions-list ,.tenderworks-list{
        padding: 0 200px;
    }
    
}